@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #333333;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    margin-bottom: 10px;
}

.head-logo {
    height: 64px;
} 

.head-menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.head-menu-item {
    color: #FFFFFF;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 20px;
}
