@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #333333;
    max-width: 1200px;
    margin: 0 auto;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    margin-bottom: 10px;
}

.head-logo {
    height: 64px;
} 

.head-menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.head-menu-item {
    color: #FFFFFF;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 20px;
}

.main-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-direita {
    display:flex;
    justify-content: center;
}

.main-baixo {
    background-color: #FFFF00;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.main-esquerda {
    background-color: #333333;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.main-img {
    width: 100%;
}

.line {
    size: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.h1-y {
    color: #FFFFFF;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 64px;
}

.h1-b {
    color: #333333;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 64px;
}

.main-text {
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
    text-align: justify;
    margin: 20px;
    max-width: 600px;
}

.main-text-baixo {
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
    text-align: justify;
    margin: 20px;
    max-width: 600px;
}

.rodape {

}

.rodape-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    align-items: center;
    gap: 25px;
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    height: 50px;
}

textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    border: 0px;
    size: 50px;
    width: 300px;
    vertical-align: middle;
}

button {
    background-color: #FFFF00;
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    /*font-family: 'Bebas Neue', cursive;*/
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    size: 50px;
    vertical-align: middle;
    border: 0px;
    padding: 10px;
    text-align: center;

}